/* Comentário - Meu arquivo CSS */
p {
	color: white;
	font-size: 20px;
	/*font-family: Arial, "Time new roman";*/
	/* text-shadow:1px 1px 1px #111111; */

}

body {
	background-color: white;
}

* {
	margin: 0;
	padding: 0;
	/* font-family: sans-serif;  (Ao setar, quebra o menu na Home. provavelmente esse font-family ja eh predefinido para o Home) */ 
	/* font-family: "URW Chancery L", cursive; */
}
	
header {
	background-image: url('/images/header-background.jpg');
	height: 200px;
	padding: 10px;
}

footer {
	clear: both;
	background-color: #33b5ed;
	height: 50px;
	text-align: center;
	padding: 10px;
	font-family: sans-serif;
}

h2 {
	color: #FFFF;
	/* text-shadow:1px 1px 1px #111111; */
	text-align: center;
	margin: 0 0 50px 0;
}

#div_esquerda {
	background-color: white;
	min-height: 200px;
	width: 80%;
	float: left;
}

#div_direita {
	background-color: white;
	min-height: 200px;
	width: 20%;
	float: right;
}

#logo {
	float:left;
}

#menu {
	margin-top: 80px;
	float: right;
}
#menu a{
	padding: 106px 20px;
	text-decoration: none;
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px #111111;
}
#menu a:hover{
	color: white;
	font-size: 30px;
	background-color: #0da6e8;
}

#principal {
	/*clear:both;*/
	background-image: url('/images/concrete-medium.gif');
	background-size: 100%;
	min-height: 400px;
	padding: 100px 0 0 0;
	font-family: sans-serif;
}
.container {
	width: 960px;
	margin: 0 auto;
}

/* .efeito{
	background-color: rgba(0, 0, 0, 0.7);
} */

