/* Comentário - Meu arquivo CSS */
p {
	color: white;
	font-size: 20px;
	/*font-family: Arial, "Time new roman";*/
	text-shadow:1px 1px 1px #111111;

}

body {
	background-color: black;
}

* {
	margin: 0;
	padding: 0;
	font-family: "URW Chancery L", cursive;
}
	
header {
	background-color: #FDCF1C;
	height: 200px;
	padding: 10px;
}

footer {
	clear: both;
	background-color: #FDCF1C;
	height: 50px;
	text-align: center;
	padding: 10px;
}

h1 {
	color: #FFFF;
	text-shadow:1px 1px 1px #111111;
	text-align: center;
	margin: 0 0 50px 0;
}

#div_esquerda {
	background-color: white;
	min-height: 200px;
	width: 80%;
	float: left;
}

#div_direita {
	background-color: #FDCF1C;
	min-height: 200px;
	width: 20%;
	float: right;
}

#logo {
	float:left;
}

#menu {
	margin-top: 80px;
	float: right;
}
#menu a{
	padding: 106px 20px;
	text-decoration: none;
	color: #111;
	text-shadow: 1px 1px #111111;
}
#menu a:hover{
	background-color: #FFFF19;
}

#principal {
	/*clear:both;*/
	background-image: url('/images/scenic-view-of-beach-248797.jpg');
	background-size: 100%;
	min-height: 400px;
	padding: 100px 0 0 0;
}
.container {
	width: 960px;
	margin: 0 auto;
}

.efeito{
	background-color: rgba(0, 0, 0, 0.7);
}

