<!DOCTYPE html>
<html>

<head>
    <!-- Favicon head tag -->
    <link rel="icon" type="imagem/svg+xml" href="/images/favicon.svg">
    <title>Ambiente - QA</title>

    <!-- CSS local -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <!-- Script para os ícones -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
    <header>
        <div class="container">
            <div id="logo">
                <img src="/images/concrete-logo-pequena.jpg" height="165px">
            </div>
        </div>
        <div class="container">
            <div id="menu">
                <a href="/">Home</a>
                <a href="/anaamarante">Ana Amarante</a>
                <a href="/tiagomartin">Tiago Martin</a>
                <a href="/devops">DevOps</a>
                <a href="/motivacao">Motivação</a>
                <a href="/validacao-cpf">Validação de CPF</a>
            </div>
        </div>
    </header>

    <br> </br>

    <div class="card-body">
        <br> </br>
        <p>
        Bacharela em Ciências e Tecnologia, finalizando Engenharia de Telecomunicações,
        ambos os cursos pela UFRN. Especilista em TI aplicada à Área Jurídica pela UFRN e JFRN. 
        </p>
        <br> </br>
        <p>
            Iniciou na Concrete em fevereiro de 2021 como DevOps e busca se aprofundar na área de Cloud, IaC e desenvolvimento ágil.
        </p>
        <br> </br>
    </div>

    <br> </br>
    <div class="card">
        <img src="/images/anaamarante.png" alt="John" style="width:100%">
        <h1>Ana Amarante</h1>
        <p class="title">DevOps</p>


        <p>Natal/RN - Base SP</p>
        <div style="margin: 24px 0;">
            <a href="https://github.com/concrete-ana-amarante"><i class="fab fa-github"></i></a>
            <a href="https://gitlab.com/concrete-ana-amarante"><i class="fab fa-gitlab"></i></a>
            <a href="https://hub.docker.com/u/concreteanaamarante"><i class="fab fa-docker"></i></a>
            <a href="https://www.linkedin.com/in/anapma22/"><i class="fab fa-linkedin"></i></a>
        </div>
        <p><button>Contact</button></p>
    </div>

    <footer>
        <div class="footerLinks">
            <ul>
                <li><a href="https://github.com/Didox/desafio-final-concrete">Projeto final Concrete DevOps</a></li>
            </ul>
        </div>
        <p>Grupo: Ana Amarante e Tiago Martin</p>
    </footer>

</body>

</html>