<!DOCTYPE html>
<html>

<head>
    <!-- Favicon head tag -->
    <link rel="icon" type="imagem/svg+xml" href="/images/favicon.svg">
    <title>Validação de CPF</title>

    <!-- CSS local -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- Required meta tags -->
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="container">
            <div id="logo">
                <img src="/images/concrete-logo-pequena.jpg" height="165px">
            </div>
            <div id="menu">
                <a href="/">Home</a>
                <a href="/anaamarante">Ana Amarante</a>
                <a href="/tiagomartin">Tiago Martin</a>
                <a href="/devops">DevOps</a>
                <a href="/validacao-cpf">Validação de CPF</a>
            </div>


        </div>
    </header>

    <div id="principal">
        <div class="wrapper">
            <div class="home"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer scelerisque risus id nunc porta, ut rhoncus massa elementum. Aliquam ut sapien in orci efficitur varius non sit amet lorem. Etiam blandit a ex quis aliquam. Quisque cursus maximus est. Ut eu feugiat lacus, in consequat felis. Ut iaculis vehicula ipsum, ut malesuada orci. Vivamus blandit orci sit amet ex pellentesque, quis consequat tortor fringilla. Aliquam fringilla nunc ligula, ac vestibulum orci accumsan eu. Etiam gravida, purus ac scelerisque luctus, diam sem varius eros, eget mattis turpis felis eu leo. Fusce vehicula suscipit libero, non eleifend tortor ultricies sagittis. Cras orci eros, lobortis id nibh in, pellentesque elementum lacus. Donec condimentum mi ac tristique dapibus. Sed fringilla feugiat efficitur. Sed dapibus malesuada erat, id ultricies ligula pharetra vel.

                    Integer non cursus lectus. Donec sollicitudin velit ut accumsan tempor. Quisque luctus a est vel facilisis. Maecenas non enim vitae mauris malesuada aliquet. Phasellus ante purus, hendrerit vel nisl ut, interdum gravida dolor. Aenean vestibulum est a risus vulputate, non finibus ipsum laoreet. Nulla eu porta diam, quis interdum metus. In hac habitasse platea dictumst.
                    
                    Morbi quis metus sed orci varius mollis. Sed sagittis volutpat laoreet. Aliquam a enim libero. Praesent quis ipsum sollicitudin ante suscipit ultricies vitae vitae sapien. Morbi id tincidunt ipsum, bibendum imperdiet ex. Sed auctor eros eget urna semper, nec sollicitudin dui luctus. Integer erat augue, semper id nulla eu, vestibulum tristique dui. Etiam molestie vulputate ex. Maecenas vitae arcu ut augue porttitor convallis in et elit. Pellentesque ac elit lorem. Praesent sit amet elementum massa. Phasellus condimentum, leo sit amet molestie tempor, mauris leo volutpat erat, et tempor eros augue sed velit.
                </p>

                <p align="left">
                    <img src="/images/anaamarante.png" alt="Ana Amarante" style="width:120px;height:120px;">
                    Qualquer feedback será muito bem vindo!
                </p>
            </div>
        </div>
    </div>
    <!--   <div id="div_esquerda">Texto em tag DIV1 dentro de DIV0</div> -->
    <!--   <div id="div_direita">Texto em tag DIV2 dentro de DIV0</div> -->
    <footer>
        <div class="footerLinks">
            <ul>
                <li><a href="https://github.com/Didox/desafio-final-concrete">Projeto final Concrete DevOps</a></li>
            </ul>
        </div>
        Grupo: Ana Amarante e Tiago Martin
    </footer>

</body>

</html>