<!DOCTYPE html>
<html>

<head>
    <!-- Favicon head tag -->
    <link rel="icon" type="imagem/svg+xml" href="/images/favicon.svg">
    <title>Projeto Final Concrete DevOps</title>

    <!-- CSS local -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <!-- Required meta tags -->
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="container">
            <div id="logo">
                <img src="/images/concrete-logo-pequena.jpg" height="165px">
            </div>
            <div id="menu">
                <a href="/">Home</a>
                <a href="/anaamarante">Ana Amarante</a>
                <a href="/tiagomartin">Tiago Martin</a>
                <a href="/devops">DevOps</a>
                <a href="/validacao-cpf">Validação de CPF</a>
            </div>


        </div>
    </header>

    <div id="principal">
        
      
    </div>
    <!--   <div id="div_esquerda">Texto em tag DIV1 dentro de DIV0</div> -->
    <!--   <div id="div_direita">Texto em tag DIV2 dentro de DIV0</div> -->
    <footer>
        <div class="footerLinks">
            <ul>
                <li><a href="https://github.com/Didox/desafio-final-concrete">Projeto final Concrete DevOps</a></li>
            </ul>
        </div>
        Grupo: Ana Amarante e Tiago Martin
    </footer>

</body>

</html>