<!DOCTYPE html>
<html>

<head>
    <!-- Favicon head tag -->
    <link rel="icon" type="imagem/svg+xml" href="/images/favicon.svg">
    <title>DevOps</title>

    <!-- CSS local -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/card.css">

    <!-- Required meta tags -->
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="container">
            <div id="logo">
                <img src="/images/concrete-logo-pequena.jpg" height="165px">
            </div>
            <div id="menu">
                <a href="/">Home</a>
                <a href="/anaamarante">Ana Amarante</a>
                <a href="/tiagomartin">Tiago Martin</a>
                <a href="/devops">DevOps</a>
                <a href="/motivacao">Motivação</a>
                <a href="/validacao-cpf">Validação de CPF</a>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="devops">
        <div class="center"><img src="/images/devops.png" alt="centered image"  /></div>
            
            <h1>O que é DevOps?</h1>
            <p class="justify">
                DevOps é uma mudança das práticas convencionais de desenvolvimento e entrega de sistemas, responsável
                por gerar benefícios de mudanças comportamentais, como uma maior colaboração entre desenvolvimento e
                operações.
            </p>
            <br>

            <h1>Como tudo começou</h1>
            <p class="justify">
                Na Bélgica em 2007, Patrick Debois trabalhava em um projeto em que ele vivia o contraste negativo entre
                a equipe de desenvolvimento e de operações.

            <p>
                Em 2008 Andrew Shafer propôs uma palestra de Agile Infrastructure, mas só o Patrick apareceu. Depois
                teve uma palestra que falava do aumento de velocidade nos deploys na Flicker, o que voltou a chamar
                atenção de Patrick, que por meio do twitter e da comunidade deu origem ao DevOpsDays. A partir dai a
                comunidade foi abrindo mercado para as ferramentas de DevOps ou criando-as.
            </p>
            <br>

            <h1>Princípios</h1>
            <p class="justify">
                CAMS (Culture, Automation, Measurement, Sharing).
            </p>
            <p class="justify">
                A Cultura e o compartilhar são ligados ao comportamento do time, já os princípios de automação e medição
                são mais voltados para as ferramentas. Cultura sem ferramentas, não vão ser eficientes assim como
                ferramentas sem cultura também não será.
            </p>
            <br>

            <h1>Como aplicar esses princípios no trabalho</h1>
            <p class="justify">
                Na parte de cultura, visando o alinhamento para unificar os objetivos do grupo, é possível:
            </p>
            <ul>
                <p class="justify">- Priorizar de acordo com os objetivos do negócio.</p>
                <p class="justify">- Equipe com objetivos claros que correspondem à visão da empresa.</p>
                <p class="justify">- Não limitar o DevOps pro Dev e Ops, exemplos disso são o popular DevSecOps, e também o SynOps que
                    conheci a pouco tempo pelo Learning que engloba a parte de dados.</p>
            </ul>
            <br>

            <p class="justify">
                Estar aberto ao compartilhamento e a disponibilização de informações para quem precisa, no momento em
                que precisa.
            </p>
            <ul>
                <p class="justify">- Equipe envolvida no planejamento de sprint de desenvolvimento.</p>
                <p class="justify">- Alterações visíveis para todos os membros da equipe.</p>
                <p class="justify">- Incentivo a questionar tarefas e prioridades.</p>
            </ul>
            <br>

            <p class="justify">
                O aprendizado visando o crescimento pessoal e promovendo a compreensão por meio da melhoria contínua.
            </p>
            <ul>
                <p class="justify">- Com frequência, comemorar internamente os aprendizados e o sucesso da equipe.</p>
                <p class="justify">- Discutir abertamente as falhas para compartilhar o aprendizado.</p>
                <p class="justify">- Foco no software como um produto em constante mudança.</p>
                <p class="justify">- Parar o desenvolvimento ao descobrir um defeito e priorizamos seu reparo. </p>
            </ul>
            <br>

            <p class="justify">
                Visando a automação, trabalhar com:
            </p>
            <ul>
                <p class="justify">- Testes automatizados antes da implantação de produção automatizada.</p>
                <p class="justify">- Sistemas semelhantes à produção para trabalhar e testar.</p>
                <p class="justify">- Respostas automáticas à incidentes.</p>
            </ul>
            <br>

            <h1>Referências</h1>
            <ul>
                <li><a href="https://devopschecklist.com">The DevOps Checklist</a></li>
                <li><a href="https://www.youtube.com/watch?v=o7-IuYS0iSE">The (Short) History of DevOps</a></li>
                <li><a href="https://media.webteam.puppet.com/uploads/2020/11/Puppet-State-of-DevOps-Report-2020.pdf?_ga=2.28677116.1992470101.1614782393-149721652.1614782393">
                State of DevOps Report 2020</a></li>
            </ul>

        </div>
    </div>
</body>

<footer>
    <div class="footer">
        <ul>
            <a href="https://github.com/Didox/desafio-final-concrete">Projeto final Concrete DevOps</a>
        </ul>
    </div>
    <p>Grupo: Ana Amarante e Tiago Martin</p>
</footer>

</html>