<!DOCTYPE html>
<html>

<head>
    <!-- Favicon head tag -->
    <link rel="icon" type="imagem/svg+xml" href="/images/favicon.svg">
    <title>Ambiente - QA</title>

    <!-- CSS local -->
    
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/card.css">
    
    <!-- Required meta tags -->
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="container">
            <div id="logo">
                <img src="/images/concrete-logo-pequena.jpg" height="165px">
            </div>
        </div>
        <div class="container">
            <div id="menu">
                <a href="/">Home</a>
                <a href="/anaamarante">Ana Amarante</a>
                <a href="/tiagomartin">Tiago Martin</a>
                <a href="/devops">DevOps</a>
                <a href="/motivacao">Motivação</a>
                <a href="/validacao-cpf">Validação de CPF</a>
            </div>
            </div>
    </header>

    <div class="container">
    <div id="principal_home">
            <h2>Bem vindo(a), navegue no menu superior para conhecer todo o site!
                <img src="/images/favicon.svg" height="25px">
            </h2>
        </div>
    </div>
    <footer>
        <div class="footerLinks">
            <ul>
                <li><a href="https://github.com/Didox/desafio-final-concrete">Projeto final Concrete DevOps</a></li>
            </ul>
        </div>
        <p>Grupo: Ana Amarante e Tiago Martin</p>
    </footer>

</body>

</html>