<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Concrete DevOps</title>
    <meta charset="UTF-8">
     <!-- Favicon head tag -->
     <link rel="icon" type="imagem/svg+xml" href="/images/favicon.svg">
</head>
 
    <body>
            <header>
                <div class="container">
                    <div id="logo">
                        <img src="/images/concrete-logo-pequena.jpg" height="165px">
                    </div>
                    <div id="menu">
                        <a href="/">Home</a>
						<a href="#">Ana Amarante</a>
                        <a href="#">Tiago Martin</a>
                        <a href="#">DevOps</a>
                        <a href="/validacao-cpf">Validação de CPF</a>
                    </div>

                    
                </div>
            </header>
     
                <div id="principal">
                    <!-- <div class="efeito"> -->
                        <div class="container">
                            <h2>Bem vindo(a), navegue no menu superior para conhecer todo o site! 
                                <img src="/images/favicon.svg" height="25px">
                            </h2>
                        </div>
                    <!-- </div> -->
                </div>
            <!--   <div id="div_esquerda">Texto em tag DIV1 dentro de DIV0</div> -->
            <!--   <div id="div_direita">Texto em tag DIV2 dentro de DIV0</div> -->
            <footer>
                <div class="footerLinks">
                    <ul>
                        <li><a href="https://github.com/Didox/desafio-final-concrete">Projeto final Concrete DevOps</a></li>
                    </ul>
                </div>
                Grupo: Ana Amarante e Tiago Martin
            </footer>
        
    </body>
 </html>