<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Página completa</title>
    <meta charset="UTF-8">
 
</head>
 
    <body>
            <header>
                <div class="container">
                    <div id="logo">
                        <img src="gatas-tur.png" height="165px">
                    </div>
                    <div id="menu">
                        <a href="#">Home</a>
						<a href="#">Quem somos</a>
                        <a href="#">Serviços</a>
                        <a href="#">Fale conosco</a>
                        <a href="/validacao-cpf">Validação de CPF</a>
                    </div>
                </div>
            </header>
     
                <div id="principal">
                    <div class="efeito">
                        <div class="container">
                            <h1>Bem vindo a minha página!</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet justo nec magna pharetra porta eget eu risus. Duis pharetra dui nec felis elementum, hendrerit elementum nisl tempus. Nunc nunc elit, consectetur vitae orci nec, tempus hendrerit elit. Donec sed justo facilisis tortor eleifend iaculis id quis sem. Praesent eu ipsum nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean nec aliquam dolor, sit amet finibus magna. Nunc eleifend tellus sed semper placerat. Vivamus id tempus mi. Cras at risus eu tellus pulvinar imperdiet in vel lectus. Sed pellentesque consectetur tellus a imperdiet.
                            </p>
                        </div>
                    </div>
                </div>
            <!--   <div id="div_esquerda">Texto em tag DIV1 dentro de DIV0</div> -->
            <!--   <div id="div_direita">Texto em tag DIV2 dentro de DIV0</div> -->
            <footer>Rodapé</footer>
        
    </body>
 </html>