
<!DOCTYPE html>
<html>

<head>
    <!-- Favicon head tag -->
    <link rel="icon" type="imagem/svg+xml" href="/images/favicon.svg">
    <title>Motivação</title>

    <!-- CSS local -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="container">
            <div id="logo">
                <img src="/images/concrete-logo-pequena.jpg" height="165px">
            </div>
        </div>
        <div class="container">
            <div id="menu">
                <a href="/">Home</a>
                <a href="/anaamarante">Ana Amarante</a>
                <a href="/tiagomartin">Tiago Martin</a>
                <a href="/devops">DevOps</a>
                <a href="/motivacao">Motivação</a>
                <a href="/validacao-cpf">Validação de CPF</a>
            </div>
            </div>
    </header>
    <div class="container">
        <div class="center"> 
            <h1>A surpreendente verdade sobre o que nos motiva</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bIhHrL73d4s" title="YouTube video player" frameborder="5" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</body>
<footer>
    <div class="footer">
        <ul>
            <a href="https://github.com/Didox/desafio-final-concrete">Projeto final Concrete DevOps</a>
        </ul>
    </div>
    <p>Grupo: Ana Amarante e Tiago Martin</p>
</footer>
</html>













