<!DOCTYPE html>
<html>

<head>
    <!-- Favicon head tag -->
    <link rel="icon" type="imagem/svg+xml" href="/images/favicon.svg">
    <title>Tiago Martin</title>

    <!-- CSS local -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Required meta tags -->
    <meta charset="UTF-8">

    <!-- Script para os ícones -->
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>

<body>
    <header>
        <div class="container">
            <div id="logo">
                <img src="/images/concrete-logo-pequena.jpg" height="165px">
            </div>
        </div>
        <div class="container">
            <div id="menu">
                <a href="/">Home</a>
                <a href="/anaamarante">Ana Amarante</a>
                <a href="/tiagomartin">Tiago Martin</a>
                <a href="/devops">DevOps</a>
                <a href="/motivacao">Motivação</a>
                <a href="/validacao-cpf">Validação de CPF</a>
            </div>
        </div>
    </header>
    <div class="devops">
        <p class="justify">Estou na concrete há 3 anos atuando com Infraestrutura, recentemente fui alocado no time de DevOps, consegui tirar certificações AWS recentemente:</p><br>
        <p class="justify">- AWS Certified Cloud Practitioner - Com icentivo da Concrete virar referencia em Cloud na Accenture.</p><br>
        <p class="justify">Conseguir a primeira certificação me icentivou e recentemente consegui tirar outra certificação:</p><br>
        <p class="justify">- AWS Certified Solutions Architect - Associate</p><br>
        <p class="justify">Pretendo continuar e me mergulhar no mundo de Cloud e continuar evoluindo como DevOps</p><br>
    <div class="card">
        <img src="/images/tiago.png" alt="John" style="width:100%">
        <h1>Tiago San Martin</h1>
        <p class="title">Analista de Infraestrutura/DevOps</p>

        <p>São Paulo/SP - Base SP</p>
        <div style="margin: 24px 0;">
            <a href="https://github.com/tigo17"><i class="fab fa-github"></i></a>
            <a href="https://gitlab.com/tigo17"><i class="fab fa-gitlab"></i></a>
            <a href="https://hub.docker.com/u/tigo17"><i class="fab fa-docker"></i></a>
            <a href="https://www.linkedin.com/in/tiago-sm/"><i class="fab fa-linkedin"></i></a>
        </div>
        <p><button onclick="location.href='mailto:tiago.martin@concrete.com.br';">Contact</button></p>
    </div>
    </div>
</body>
<footer>
    <div class="footer">
        <ul>
            <a href="https://github.com/Didox/desafio-final-concrete">Projeto final Concrete DevOps</a>
        </ul>
    </div>
    <p>Grupo: Ana Amarante e Tiago Martin</p>
</footer>

</html>